body {
    background: #eee !important;
}

#AdminPanel .logo {
    width: 120px;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center
}

#AdminPanel .navbar {
    padding: 0 !important;
}

#AdminPanel .navbar-toggler {
    margin: 10px 20px
}

#AdminPanel .navbar-brand {
    margin: 0px;
    padding: 0px;
}

#AdminPanel .navbar-brand i {
    margin: 0px;
    padding: 23px 25px;
    font-size: 20px;
    background: #272c31
}

#AdminPanel label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 15.5px;
}

#AdminPanel .navbar li a {
    font-size: 15px;
    color: #fff !important;
    font-weight: 300;
    padding: 22px !important;
}

#AdminPanel .nav-link i {
    margin-right: 13px;
}

#AdminPanel .nav-item a:hover,
#AdminPanel .active {
    background-color: #272c31;
    cursor: pointer
}

#AdminPanel .bg-light {
    background: #474747 !important;
    height: auto;
}

#AdminPanel .smenu li {
    padding: 24px;
}

#AdminPanel .edit {
    width: 255px;
    margin: 0px auto;
    margin-bottom: 30px;
}

#AdminPanel .backsite {
    height: 52px;
    background: #fff;
    border: 1px solid #ddd;
    text-align: center;
    margin-top: 30px;
}

#AdminPanel .backsite a {
    display: block;
    font-size: 15px;
    line-height: 52px;
    font-weight: 500;
    color: #313131;
}

#AdminPanel .backsite:hover {
    background: #f4f4f4;
}

#AdminPanel .save {
    height: 52px;
    background: #008cba;
    text-align: center;
    margin-top: 20px;
}

#AdminPanel .save:hover {
    background: #0486b0;
}

#AdminPanel .save a {
    display: block;
    font-size: 15px;
    line-height: 52px;
    font-weight: 500;
    color: #fff;
}

#AdminPanel .content {
    margin: 0px auto;
    height: auto;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-left: none;
}

#AdminPanel .bilgi {
    background: #a2d4ab;
    width: 100%;
    height: 53px;
    margin-bottom: 10px;
}

#AdminPanel .bilgi span {
    font-size: 14px;
    color: #424242;
    font-weight: 400;
    font-style: italic;
    line-height: 52px;
    padding-left: 40px;
}

#AdminPanel .icerik {
    padding: 30px 40px;
    margin-bottom: 30px;
    background-color: #fff;
    display: flex
}

#AdminPanel .form-control {
    height: auto;
}

#AdminPanel .icerik ul li {
    padding-right: 25px;
    padding-left: 25px;
}

#AdminPanel .btn-default {
    background-color: #008cba;
    color: #fff;
    padding: 10px 0;
    margin-top: 15px;
}

#AdminPanel .btn-default:hover {
    background-color: #0183ae
}

#AdminPanel .icerik ul li:nth-child(odd) {
    border-right: 1px solid rgba(0, 0, 0, .1);
}

#AdminPanel .siteyiGoruntule {
    margin-top: 40px;
    text-align: center;
}

#AdminPanel .siteyiGoruntule a {
    font-size: 13px;
    color: #333;
    background: #fff;
    padding: 9px 17px;
    border-radius: 7px;
    border: 1px solid #cdd;
    text-decoration: none
}

#AdminPanel .cikisYap {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

#AdminPanel .cikisYap a {
    font-size: 13px;
    color: #fff;
    background: #ba3535;
    padding: 9px 17px;
    border-radius: 7px;
    text-decoration: none
}

#AdminPanel .upload dd,
#AdminPanel .aupload {
    display: flex;
    position: relative;
    z-index: 1;
}

#AdminPanel .aupload input[type="file"] {
    cursor: pointer;
    font: 300 14px sans-serif;
    width: 170px;
    height: 230px;
    border: 3px dashed #ddd;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

#AdminPanel .upload input[type="file"] {
    cursor: pointer;
    font: 300 14px sans-serif;
    color: rgba(0, 0, 0, 0);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
    border: 3px dashed #ddd;
    position: relative;
    z-index: 2;
    display: block;
    margin-top: -2px;
}

#AdminPanel .upload input[type="file"]::-webkit-file-upload-button,
#AdminPanel .aupload input[type="file"]::-webkit-file-upload-button {
    display: none
}

#AdminPanel .upload img.uploadImage,
#AdminPanel .aupload img.uploadImage {
    position: absolute;
    margin-top: 45px;
    z-index: 1;
    left: 70px;
    width: 39px;
}

#AdminPanel .aupload img.uploadImage {
    position: relative;
    margin-top: 95px;
    z-index: 1;
    left: 103px;
    width: 39px;
    height: 36px;
}

#AdminPanel .aupload {
    overflow: auto;
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
}

#AdminPanel .upload input[type="file"]:focus,
#AdminPanel .aupload input[type="file"]:focus {
    outline: none !important;
}

#AdminPanel .upload .preview img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
}

#AdminPanel .aupload .preview img {
    border-radius: 10px;
    width: 170px;
    height: 230px;
    object-fit: cover;
}

#AdminPanel .upload .preview {
    position: absolute;
    height: 241px;
    z-index: 5;
    margin-top: -2px;
}

#AdminPanel .aupload .preview {
    margin-left: 20px;
    width: 130px;
    margin-right: 40px;
}

#AdminPanel .upload .remove {
    position: relative;
    margin-left: -77px;
    top: 9px;
    color: #e21b1b;
    font-size: 31px;
}

#AdminPanel .aupload .remove {
    position: relative;
    top: -24px;
    left: 70px;
    color: #e21b1b;
    font-size: 31px;
}

#AdminPanel .aupload .kaldir {
    position: relative;
    top: -24px;
    left: 70px;
    color: #e21b1b;
    font-size: 31px;
}

#AdminPanel .remove i,
#AdminPanel .kaldir i {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

#AdminPanel .remove:hover,
#AdminPanel .kaldir:hover {
    cursor: pointer;
}

#AdminPanel .socialMedia {
    position: fixed;
    right: 0;
    top: 36%;
    height: 69px;
    z-index: 5;
    width: auto;
}

#AdminPanel .socialMedia ul {
    font-size: 28px;
    line-height: 50px
}

#AdminPanel .socialMedia a {
    padding: 10px 20px 10px 20px;
    color: white;
    display: block;
}

#AdminPanel .socialMedia li {
    text-align: center;
}

#AdminPanel .whatsapp {
    background-color: #4FCE5D;
}

#AdminPanel .whatsapp:hover {
    background-color: #48c155;
}

#AdminPanel .sms {
    background-color: #ff7f30;
}

#AdminPanel .sms:hover {
    background-color: #ea742a;
}

#AdminPanel .facebook {
    background-color: #3B5998;
}

#AdminPanel .facebook:hover {
    background-color: #36528c;
}

#AdminPanel .mail {
    background-color: #D44638;
}

#AdminPanel .mail:hover {
    background-color: #b93b2f;
}

@media only screen and (max-width: 576px) {
    #AdminPanel .socialMedia {
        bottom: 0;
        right: auto;
        top: auto;
        width: 100%
    }

    #AdminPanel .ornekSozler {
        display: none;
    }

    #AdminPanel .socialMedia ul {
        display: flex
    }

    #AdminPanel .socialMedia li {
        width: 25%
    }

    #AdminPanel .socialMedia li {
        width: 25%
    }

    #AdminPanel .container {
        margin-bottom: 85px;
    }
}

@media only screen and (max-width: 768px) {
    #AdminPanel .socialMedia {
        bottom: 0;
        right: auto;
        top: auto;
        width: 100%
    }

    #AdminPanel .socialMedia ul {
        display: flex
    }

    #AdminPanel .socialMedia li {
        width: 25%
    }

    #AdminPanel .container {
        margin-bottom: 85px;
    }
}

@media only screen and (max-width: 992px) {
    #AdminPanel .socialMedia {
        bottom: 0;
        right: auto;
        top: auto;
        width: 100%
    }

    #AdminPanel .socialMedia ul {
        display: flex
    }

    #AdminPanel .socialMedia li {
        width: 25%
    }

    #AdminPanel .container {
        margin-bottom: 85px;
    }
}

#AdminPanel .form-control[readonly] {
    background-color: white !important;
}

#AdminPanel .flatpickr-input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#AdminPanel small#emailHelp {
    margin-top: 10px !important;
}

.odemeButton {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.odemeButton button {
    background: #35bb77;
    padding: 15px 24px;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.odemeButtonActive button {
    background: #228251;
}

.odemeButton button i {
    font-weight: normal;
    font-size: 20px;
}

#price .maddeler {
    font-size: 16px;
    margin-right: 60px;
}

#price .maddeler ul {
    border-right: 1px solid #d6d6d6;
}

#price .maddeler li {
    line-height: 32px;
}

#price .maddeler li::before {
    content: url(/images/check.svg);
    width: 10px;
    height: 10px;
    position: relative;
    top: 4px;
    margin-right: 8px;
}

.maddeler h4 {
    padding-bottom: 20px;
    font-size: 29px;
    color: #212224;
}

.maddeler h4 span {
    font-size: 14px;
    color: #656565;
}

.maddeler h4 i {
    font-weight: 200;
    color: #c1c1c1;
    padding: 0 6px 0 3px;
}

.maddeler h4 span b {
    font-weight: bold;
}

.fiyat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fiyat span.ucret {
    background: #fbfbfb;
    border: 1px solid #d8d8d8;
    padding: 30px 25px;
    font-size: 29px;
    font-weight: bold;
    border-radius: 8px;
}

.fiyat span i {
    font-size: 21px;
    font-weight: 400;
}

.fiyat small {
    color: #6d6d6d;
    padding-top: 5px;
}

.sistemLogo {
    display: flex;
    padding-top: 20px;
}

.sistemLogo img {
    padding-right: 5px;
}

.sistemLogo span {
    margin-top: -2px;
}

#AdminPanel #price {
    width: 100%;
    margin: 0px auto 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: none;
    color: #46494c;
}

.odemeSistemi {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.odemeSistemi li {
    padding: 10px 2px !important;
    border-right: none !important;
    color: #46494c !important;
    list-style-type: disc;
}

.odemeYonlendir {
    margin: 0px auto;
    max-width: fit-content;
    background: #4c84ff;
    border: 1px solid #ddd;
    padding: 25px 50px 15px 50px;
    border-radius: 9px;
    margin-bottom: 40px;
    color: white;
    text-decoration: none;
    display: flex;
    font-size: 19px;
    font-weight: bold;
    justify-content: right;
}

.odemeYonlendir:hover {
    color: white;
    text-decoration: none;
}

.odemeYonlendir img {
    padding-right: 10px;
}

#AdminPanel .ornekSozler {
    padding-left: 10px;
    display: inline-block;
    font-size: 13.5px;
    color: #515456;
    border-left: 1px solid #b9b8b8;
    margin-left: 10px;
}

#AdminPanel .ornekSozler a {
    color: #58b5e4;
}