#index .temizle {
    clear: both;
}

#index header {
    background: url(/images/bg.jpg) no-repeat center;
    background-size: cover;
    height: 600px;
}

#index #header {
    width: 1100px;
    margin: 0px auto;
}

#index .header {
    padding-top: 40px;
}

#index .logo {
    float: left;
}

#index .menu {
    float: right;
}

#index .menu ul {
    display: flex;
}

#index .menu li a {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    padding: 10px 13px;
}

#index .menu li {
    padding: 14px 0px;
    transition: .3s;
}

#index .menu li a:hover {
    color: #ee6c4d;
    transition: .3s;
}

#index .menu li.aktif {
    color: #ee6c4d;
    background: #ee6c4d;
    transition: .3s;
    margin-bottom: 4px;
}

#index .menu li.yaktif {
    color: #ee6c4d;
    transition: .3s;
    margin-right: 5px;
}

#index .menu li.aktif a {
    color: #fff;
    transition: .3s;
    border: 1px solid #ee6c4d;
}

#index .menu li.yaktif a {
    color: #fff;
    transition: .3s;
    border: 1px solid #ee6c4d
}

#index li.aktif:hover {
    background: rgba(225, 225, 225, 0.02);
    transition: .3s;
}

#index li.yaktif:hover {
    background: rgba(225, 225, 225, 0 .07);
    transition: .3s;
}

#index .slider {
    width: 560px;
    height: 370px;
    display: table;
    margin: 0px auto;
    padding-top: 50px;
}

#index .sorta {
    vertical-align: middle;
    display: table-cell;
}

#index .slider h1 {
    font-size: 35px;
    color: #fff;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    letter-spacing: 1px;
    line-height: 45px;
    padding-bottom: 25px;
}

#index .slider h3 {
    text-align: center;
    margin: 0px auto;
    line-height: 28px;
    font-size: 21px;
    font-weight: 300;
    font-style: italic;
    color: #dcdcdc;
    margin-bottom: 30px;
}

#index .buton {
    background: #ee6c4d;
    max-width: max-content;
    margin: 0px auto;
    margin-bottom: 15px;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

#index .buton a {
    font-size: 20px;
    color: white;
    display: block;
    padding: 20px 30px;
}

#index .buton:hover {
    background-color: #ca5c42;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

#index .sorta p {
    font-size: 15px;
    font-weight: 300;
    color: #b7b7b7;
    text-align: center;
}

#index .sorta p a {
    color: #ee6c4d;
    font-size: 15px;
    font-weight: 400;
}

#index .bolum {
    padding: 40px 0px;
}

#index .bolum .baslik {
    font-size: 27px;
    color: #46494c;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    padding-bottom: 30px;
    font-weight: 500;
}

#index .bacikla {
    background: #f7f7f7;
}

#index .bolum .acikla {
    font-size: 18px;
    width: 815px;
    margin: 0px auto;
    text-align: center;
    color: #46494c;
    font-weight: 200;
    padding-bottom: 40px;
    line-height: 28px;
}

#index .acikla b {
    font-weight: 300;
}

#index .bicerik ul {
    width: 740px;
    display: flex;
    margin: 0px auto;
}

#index .bicerik li {
    border-right: 1px solid #ddd;
    margin-right: 40px;
    padding: 40px;
}

#index .bicerik li:last-child {
    border: none;
    margin: none;
    padding: none;
}

#index .bust {
    display: flex;
    padding-bottom: 30px;
}

#index .icon {
    padding-right: 30px;
}

#index .bisim {
    font-size: 15px;
    color: #173649;
    padding-top: 15px;
    font-weight: 400;
    padding-bottom: 20px;
    border-bottom: 1px solid #c5c3c6;
}

#index .bicerik li p {
    width: 315px;
    text-align: center;
    margin-left: -40px;
    font-size: 14px;
    font-weight: 300;
    padding-left: -50px;
    color: #173649;
    line-height: 28px;
}

#ornekler {
    width: 100%;
    background: #f4f4f4;
}

#index .demo {
    width: 810px;
    margin: 0px auto;
}

#index .demo ul {
    display: flex;
    height: 590px;
    float: left;
}

#index .demo ul li {
    width: 695px;

    position: absolute;
}

#index .git {
    max-width: 30%;
    margin: 0px auto;
    margin-top: 40px;
    border: 2px solid #c5c3c6;
    text-align: center;
}

#index .git a {
    font-size: 15px;
    padding: 15px 20px;
    font-weight: 500;
    color: #4c5c68;
    display: block;
}

#index .sbuton {
    width: 195px;
    height: 55px;
    border: 2px solid #c5c3c6;
    text-align: center;
    margin: 0px auto;
}

#index .sbuton a {
    font-size: 16px;
    font-weight: 500;
    color: #46494c;
    transition: .3s;
    display: block;
    line-height: 55px;
}

#index .sbuton:hover,
#index .sbuton:hover a {
    border-color: #ee6c4d;
    transition: .3s;
    color: #ee6c4d;
}

#iletisim {
    background: #46494c;
    width: 100%;
}

#index .iletisim .baslik {
    color: #fff;
}

#index .iletisim .acikla {
    color: #fff;
}

#index .iletisim-form {
    width: 885px;
    margin: 0px auto;
}

#index .iletisim-form .sol input {
    display: block;
    background-color: #4c4e51;
    width: 328px;
    height: 43px;
    border: 1px solid #515255;
    color: #afafaf;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
    outline: none;
}

#index .iletisim-form .sol input[type="submit"] {
    width: 360px;
    height: 45px;
    background-color: #3c3e41;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    border: none
}

#index .iletisim-form .sol input[type="submit"]:hover {
    cursor: pointer;
    background-color: #37393c;
}

#index .iletisim-form .sag textarea {
    width: 465px;
    height: 195px;
    border: 1px solid #515255;
    background-color: #4c4e51;
    padding: 15px;
    font-size: 13px;
    color: #afafaf;
    resize: none;
    outline: none;
}

#index .iletisim-form input[type="text"],
#index .iletisim-form input[type="submit"],
#index .iletisim-form textarea {
    font-family: 'Lato', sans-serif;
}

#index .alt {
    width: 300px;
    margin: 0px auto;
    margin-top: 40px;
    display: flex;
}

#index .alt-sosyal ul {
    display: flex;
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 1px solid #383b3f;
}

#index .alt-sosyal li {
    line-height: 20px;
    padding-right: 20px;
}

#index .alt-sosyal a {
    font-size: 20px;
    color: #d9d9d9;
}

#index .hizmetler {
    width: 860px;
    margin: 0px auto;
}

#index .hizmetler ul {
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap
}

#index .hizmetler li {
    width: 185px;
    text-align: center;
    margin-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#index .hizmetler li:last-child {
    margin-right: 0;
}

#index .hizmet-icon {
    width: 110px;
    height: 110px;
    border: 1px solid #a8a8a8;
    text-align: center;
    border-radius: 50%;
    line-height: 110px;
    color: #4f5051;
    font-size: 33px;
    margin: 0px auto;
    margin-bottom: 20px;
    transition: .4s
}

#index .hizmetler li span {
    font-size: 17px;
    color: #4f5051;
    font-weight: 600;
}

#index .hizmetler li p {
    padding-top: 15px;
    width: 200px;
    font-size: 14px;
    font-weight: 200;
    margin: 0px auto;
    text-align: center;
    color: #7c7c7c;
    line-height: 19px;
}

#index .hizmetler li:hover .hizmet-icon {
    background: #f8f8f8;
    transition: .4s
}

#index .acilan {
    display: none;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

#index .acilan i {
    font-size: 17px;
    color: #fff;
}

#index .acilan:hover {
    color: #ee6c4d;
    cursor: pointer
}

#index .iletisim .acikla p {
    font-weight: 200;
}

#index .kapan {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

#index .kapan i {
    font-size: 20px;
    color: #fff;
}

#index .kapan i:hover {
    color: #ee6c4d;
}

#notfound {
    position: relative;
    height: 100vh;
    background: #f6f6f6;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    padding: 110px 40px;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.1);
}

.notfound .notfound-404 {
    position: relative;
    height: 180px;
}

.notfound .notfound-404 h1 {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 165px;
    font-weight: 700;
    margin: 0px;
    color: #262626;
    text-transform: uppercase;
}

.notfound .notfound-404 h1>span {
    color: #00b7ff;
}

.notfound h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #151515;
    margin-top: 0px;
    margin-bottom: 25px;
}

.notfound .notfound-search {
    position: relative;
    max-width: 320px;
    width: 100%;
    margin: auto;
}

.notfound-search a {
    text-decoration: none;
    color: #151515;
    font-size: 16px;
    display: block;
}

.notfound .notfound-search {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: block;
    height: 50px;
    line-height: 50px;
    background: transparent;
    border: 2px solid #c5c5c5;
    border-radius: 40px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound .notfound-search>input:focus {
    border-color: #00b7ff;
}

.notfound .notfound-search>button {
    position: absolute;
    right: 15px;
    top: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.notfound .notfound-search>button>span {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    margin-left: -3px;
}

.notfound .notfound-search>button>span:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    border: 4px solid #c5c5c5;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound-search>button>span:before {
    position: absolute;
    content: '';
    width: 4px;
    height: 10px;
    left: 7px;
    top: 17px;
    border-radius: 2px;
    background: #c5c5c5;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound .notfound-search>button:hover>span:after {
    border-color: #00b7ff;
}

.notfound .notfound-search>button:hover>span:before {
    background-color: #00b7ff;
}

@media only screen and (max-width: 767px) {
    .notfound h2 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 h1 {
        font-size: 141px;
    }
}

#ucret {
    width: 65%;
    margin: 20px auto 40px auto;
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: center;
    background: white;
    border: 2px solid #d6d6d6;
    color: #46494c;
}

#ucret .maddeler {
    font-size: 16px;
    margin-right: 60px;
}

#ucret .maddeler ul {
    border-right: 1px solid #d6d6d6;
}

#ucret .maddeler li {
    line-height: 32px;
}

#ucret .maddeler li::before {
    content: url(/images/check.svg);
    width: 10px;
    height: 10px;
    position: relative;
    top: 4px;
    margin-right: 8px;
}

.maddeler h4 {
    padding-bottom: 20px;
    font-size: 29px;
    color: #212224;
}

.maddeler h4 span {
    font-size: 14px;
    color: #656565;
}

.maddeler h4 i {
    font-weight: 200;
    color: #c1c1c1;
    padding: 0 6px 0 3px;
}

.maddeler h4 span b {
    font-weight: bold;
}

.fiyat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fiyat span.ucret {
    background: #fbfbfb;
    border: 1px solid #d8d8d8;
    padding: 30px 25px;
    font-size: 29px;
    font-weight: bold;
    border-radius: 8px;
}

.fiyat span i {
    font-size: 21px;
    font-weight: 400;
}

.fiyat small {
    color: #6d6d6d;
    padding-top: 5px;
}

.sistemLogo {
    display: flex;
    padding-top: 20px;
}

.sistemLogo img {
    padding-right: 5px;
}

.sistemLogo span {
    margin-top: -2px;
}

#blogs {
    width: 1100px;
    margin: 0px auto;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#blogs ul {
    display: flex;
    gap: 40px;
}

#blogs ul li {
    width: 33.33%;
    box-sizing: border-box;
}

#blogs ul li img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

#blogs ul li h3 {
    font-size: 17px;
    color: #474a4d;
    font-weight: bold;
    line-height: 23px;
    max-height: 38px;
    padding: 10px 0;
    letter-spacing: -0.2px;
}

#blogs ul li p {
    font-size: 14px;
    line-height: 19px;
    color: #6a6c6f;
    letter-spacing: 0.2px;
}

#blogs button {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 500;
    color: #46494c;
    transition: .3s;
    padding: 10px 20px;
    min-height: 55px;
    border: 2px solid #c5c3c6;
    text-align: center;
    background: none;
}

#blogs button:hover {
    cursor: pointer;
    border-color: #ee6c4d;
    transition: .3s;
    color: #ee6c4d;
}

#blogs h2 {
    font-size: 27px;
    color: #46494c;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    padding-bottom: 30px;
    font-weight: 500;
}